body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: #f4f6f9;
  color: #333;
}


.sidebar {
  width: 220px;
  height: 100vh;
  background: #111;
  position: fixed;
  padding-top: 20px;
}

.sidebar h2 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.sidebar button {
  width: 100%;
  padding: 12px 20px;
  background: none;
  border: none;
  color: #bbb;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #1f1f1f;
  color: #ff2e2e;
}

.main {
  margin-left: 220px;
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
  font-weight: 600;
}

.stats-box {
  width: auto;
  min-width: 220px;
  flex: 0 0 auto;
}

.stats-box h3 {
  width: auto;
  min-width: 220px;
  margin: 0;
  font-size: 14px;
  color: #777;
}

.stats-box p {
  width: auto;
  min-width: 220px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  flex: 0 0 auto;
}

#searchInput {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}

.card p {
  margin: 6px 0;
}

.label {
  font-weight: 600;
  color: #555;
}

.delete-btn {
  background: #ff2e2e;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}

.delete-btn:hover {
  background: #e60000;
}